.main-description__pluses-location, .main-description__pluses-cabinet, .main-description__pluses-team, .main-description__pluses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-description__pluses-location, .main-description__pluses-cabinet, .main-description__pluses-team {
  height: 60px;
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  background: rgba(255, 255, 255, 0.4);
}

.pluses-location__icon, .pluses-cabinet__icon, .pluses-team__icon {
  width: 40px;
  height: 40px;
}

.main-description {
  width: 100%;
  height: 500px;
  background: url(../img/main-description-bg.jpg) center/1280px no-repeat;
  position: relative;
  margin-bottom: 80px;
  border-radius: 5px;
}
.main-description__info {
  width: 100%;
  max-width: 460px;
  position: absolute;
  left: 0;
  top: 140px;
}
.main-description__pluses {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.main-description__pluses-team {
  justify-content: flex-end;
  width: 30%;
  margin-right: 15px;
}
.main-description__pluses-cabinet {
  width: 40%;
}
.main-description__pluses-location {
  justify-content: flex-start;
  width: 30%;
  margin-left: 15px;
}

.info-decorate-container {
  width: 40%;
  height: 100%;
  max-height: 500px;
  min-height: 250px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 48.074%, rgba(255, 255, 255, 0) 100%);
}

.info-container__location {
  line-height: 23px;
  margin-bottom: 15px;
  font-size: 18px;
}
.info-container__title {
  line-height: 104%;
  width: 300px;
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 15px;
}
.info-container__subtitle {
  color: rgb(62, 62, 62);
  font-size: 18px;
  width: 310px;
  line-height: 23px;
  margin-bottom: 20px;
}
.info-container__button {
  width: 200px;
  height: 40px;
}

.pluses-team__icon-box {
  margin-right: 5px;
}
.pluses-team__text-box {
  width: 220px;
}

.pluses-cabinet__icon-box {
  margin-right: 10px;
}
.pluses-cabinet__amount {
  display: block;
  margin-bottom: -2px;
}
.pluses-cabinet__text-box {
  width: 200px;
}

.pluses-location__icon-box {
  margin-right: 10px;
}
.pluses-location__text-box {
  width: 160px;
}

@media (max-width: 930px) {
  .main-description {
    display: flex;
    background: none;
    flex-direction: column;
    height: 100%;
    margin-bottom: 60px;
  }
  .main-description__info {
    position: relative;
    top: 0;
    left: 0;
  }
  .main-description__pluses {
    position: relative;
  }
  .info-decorate-container {
    width: 100%;
    margin-bottom: 40px;
  }
  .patients-trust__reasons {
    gap: 25px 0;
  }
  .main-description__pluses-team,
  .main-description__pluses-cabinet,
  .main-description__pluses-location {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
@media (max-width: 800px) {
  .info-conteiner__title {
    font-size: 35px;
  }
  .main-description__pluses {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-description__pluses-team,
  .main-description__pluses-location {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(56, 188, 234);
  }
  .main-description__pluses-cabinet {
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(56, 188, 234);
  }
  .pluses-cabinet__icon-box {
    margin-left: 3px;
  }
}