.main-consultation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-consultation {
  justify-content: space-between;
  width: 100%;
  min-width: 300px;
  height: 350px;
  background: linear-gradient(45deg, rgb(230, 242, 255) 0%, rgb(250, 241, 237) 100%);
  position: relative;
  border-radius: 5px;
  padding: 20px 15px 0 15px;
}
.main-consultation__connection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 410px;
  padding-left: 15px;
}
.main-consultation__img-box {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.main-consultation__img-item {
  width: 35vw;
  max-width: 500px;
  min-width: 250px;
}

.connection-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 10px;
}

.connection-subtitle {
  margin-bottom: 12px;
}
.connection-subtitle__tel {
  color: blue;
}

.connection-subtitle-two {
  display: block;
}

.personal-data {
  text-decoration: underline;
}

.connection-form {
  margin-bottom: 12px;
}
.connection-form__input {
  width: 165px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  margin-right: 20px;
}
.connection-form__button {
  width: 165px;
  height: 40px;
}

@media (max-width: 800px) {
  .main-consultation {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .main-consultation__img-box {
    position: relative;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 492px) {
  .connection-form__input {
    width: 190px;
    margin-bottom: 10px;
  }
  .connection-form__button {
    width: 190px;
  }
}