.footer-license, .footer__adaptive-container, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-media-network__email, .footer-media-network__tg, .footer-media-network__vk {
  width: 40px;
  height: 40px;
}

.footer {
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.footer__adaptive-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 20px;
  width: 100%;
}

.footer-media-network {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-media-network__vk-box {
  display: inline-block;
  margin-right: 25px;
  height: 40px;
}
.footer-media-network__tg-box {
  display: inline-block;
  margin-right: 25px;
  height: 40px;
}
.footer-media-network__email-box {
  display: inline-block;
  height: 40px;
}
.footer-license {
  flex-direction: column;
  max-width: 300px;
}

.footer-personal-info {
  width: 200px;
}
.footer-personal-info__text {
  text-decoration: underline;
  transition: all 0.2s linear;
  cursor: pointer;
}
.footer-personal-info__text:hover {
  color: blue;
}

.footer-logo-box__img {
  width: 65px;
  height: 60px;
}

@media (max-width: 950px) {
  .footer__adaptive-container {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .footer__adaptive-container {
    margin: 25px 0;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 577px) {
  .footer-license__date {
    margin-bottom: 20px;
  }
}