.phone-box, .adress-box, .header-connections__adress, .header-connections__phone, .header-connections__schedule, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-icon-item, .schedule-icon-item, .adress-icon-item {
  width: 20px;
  height: 20px;
}

.phone-icon-box, .schedule-text-time, .schedule-icon-box, .adress-icon-box {
  margin-right: 6px;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}

.header-logo-box {
  margin-right: 40px;
}

.header-logo-item {
  width: 57px;
  height: 57px;
}

.header-nav-list {
  display: flex;
}
.header-nav-list__item {
  margin-right: 30px;
}

.about.active {
  color: rgb(1, 103, 138);
}

.services.active {
  color: rgb(1, 103, 138);
}

.specialists.active {
  color: rgb(1, 103, 138);
}

.patients.active {
  color: rgb(1, 103, 138);
}

.header-connections {
  display: flex;
  margin-right: 25px;
}
.header-connections__schedule {
  margin-right: 20px;
}
.header-connections__adress {
  margin-right: 20px;
}

.adress-text {
  width: 170px;
}

.schedule-text-days {
  color: rgb(145, 145, 145);
}

.phone-number {
  font-weight: 700;
}

.header-button {
  width: 185px;
  height: 45px;
}