.slider__box-buttons, .healing-box-img, .clinic-logo-container, .patients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button, .previous-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 23px;
  background: transparent;
  cursor: pointer;
}

.patients {
  width: 100%;
}
.patients__description-healing {
  flex: 1;
}
.patients__slider {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.healing-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.healing-subtitle {
  width: 230px;
  margin-bottom: 20px;
}

.clinic-logo-container {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.clinic-logo {
  width: 60px;
  height: 50px;
  margin-right: 15px;
}

.healing-services-list-text {
  width: 100%;
  max-width: 250px;
}

.healing-services-list {
  margin: 20px 0;
}
.healing-services-list__item {
  margin-bottom: 10px;
}
.healing-services-list__item:nth-last-child(1) {
  margin-bottom: 0;
}

.healing-text-priorities {
  width: 100%;
  max-width: 400px;
}

.healing-box-img {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.voxel-logo {
  width: 130px;
  height: 40px;
}

.ortholight-logo {
  width: 75px;
  height: 75px;
  margin-right: 30px;
}

.rocadamed-logo {
  width: 100px;
  height: 100px;
}

.slider__current-slide {
  display: flex;
}
.slider__box-buttons {
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.current-slide-img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.current-slide-img.active {
  opacity: 1;
}

.previous-button {
  transition: all 0.3s linear;
}

.previous-button:hover {
  background: rgb(233, 233, 233);
}

.next-button {
  transition: all 0.3s linear;
}

.next-button:hover {
  background: rgb(233, 233, 233);
}

@media (max-width: 1000px) {
  .patients {
    flex-direction: column;
  }
  .healing-box-img {
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .healing-box-img {
    justify-content: center;
  }
}