.text-container, .offers-container, .offers, .services-display__footer-buttons, .services-display__header-buttons, .services, .footer-buttons__surgery, .footer-buttons__crowns, .footer-buttons__veneers, .header-buttons__implants, .header-buttons__childrensDentistry, .header-buttons__braces, .header-buttons__hygiene, .header-buttons__heal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-buttons__surgery, .footer-buttons__crowns, .footer-buttons__veneers, .header-buttons__implants, .header-buttons__childrensDentistry, .header-buttons__braces, .header-buttons__hygiene, .header-buttons__heal {
  flex-direction: column;
  cursor: pointer;
  margin-right: 40px;
  width: 20%;
  max-width: 170px;
  min-width: 115px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 20px 50px 0px rgba(165, 165, 165, 0.2);
}

.surgery-img, .crowns-img, .veneers-img, .implants-img, .childrensDentistry-img, .braces-img, .hygiene-img, .heal-img {
  width: 70px;
  height: 70px;
}

.surgery-title, .crowns-title, .veneers-title, .implants-title, .childrensDentistry-title, .braces-title, .hygiene-title, .heal-title {
  margin-top: 10px;
}

.services {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.services-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.services-subtitle {
  width: 230px;
  margin-bottom: 20px;
}

.services-display {
  width: 100%;
}
.services-display__header-buttons {
  flex-wrap: wrap;
}
.services-display__offers {
  margin: 50px 0;
}
.services-display__footer-buttons {
  flex-wrap: wrap;
}

.header-buttons {
  width: 100%;
}
.header-buttons__heal.active {
  background: rgb(197, 233, 245);
}
.header-buttons__hygiene.active {
  background: rgb(197, 233, 245);
}
.header-buttons__braces.active {
  background: rgb(197, 233, 245);
}
.header-buttons__childrensDentistry {
  max-width: 180px;
  text-align: center;
}
.header-buttons__childrensDentistry.active {
  background: rgb(197, 233, 245);
}
.header-buttons__implants.active {
  background: rgb(197, 233, 245);
}

.heal-title {
  text-align: center;
}

.offers {
  flex-direction: column;
  width: 100%;
}

.offers-container {
  width: 100%;
  margin-bottom: 15px;
}
.offers-container__price {
  font-weight: 700;
}
.offers-container__button {
  width: 200px;
  height: 50px;
  margin-left: 20px;
}
.offers-container__title {
  margin-right: 25px;
  width: 80%;
}

.text-container {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 50px;
  background: rgb(236, 236, 236);
  border-radius: 7px;
  padding: 15px;
}

.footer-buttons {
  width: 100%;
}
.footer-buttons__veneers.active {
  background: rgb(197, 233, 245);
}
.footer-buttons__crowns.active {
  background: rgb(197, 233, 245);
}
.footer-buttons__surgery.active {
  background: rgb(197, 233, 245);
}

@media (max-width: 1130px) {
  .services-display__header-buttons {
    gap: 25px;
  }
  .services-display__header-buttons div {
    margin-right: 0;
  }
  .services-display__footer-buttons {
    gap: 25px;
  }
  .services-display__footer-buttons div {
    margin-right: 0;
  }
}
@media (max-width: 830px) {
  .offers-container {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .services-display__offers {
    margin: 50px 0 0 0;
  }
  .text-container {
    margin-bottom: 10px;
  }
  .offers-container__button {
    margin-bottom: 50px;
  }
}