%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%pluses-decorate {
    height: 60px;
    backdrop-filter: blur(19px);
    background: rgba(255, 255, 255, 0.4);
}

%size-icon {
    width: 40px;
    height: 40px;
}

.main-description {
    width: 100%;
    height: 500px;
    background: url(../img/main-description-bg.jpg) center/1280px no-repeat;
    position: relative;
    margin-bottom: 80px;
    border-radius: 5px;
    &__info {
        width: 100%;
        max-width: 460px;
        position: absolute;
        left: 0;
        top: 140px;
    }

    &__pluses {
        @extend %flex-element-center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    &__pluses-team {
        @extend %flex-element-center;
        justify-content: flex-end;
        width: 30%;
        margin-right: 15px;
        @extend %pluses-decorate;
    }

    &__pluses-cabinet {
        @extend %flex-element-center;
        width: 40%;
        @extend %pluses-decorate;
    }

    &__pluses-location {
        @extend %flex-element-center;
        justify-content: flex-start;
        width: 30%;
        margin-left: 15px;
        @extend %pluses-decorate;
    }
}
.info-decorate-container {
    width: 40%;
    height: 100%;
    max-height: 500px;
    min-height: 250px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255, 0.9) 48.074%,rgba(255, 255, 255, 0) 100%);
}
.info-container {

    &__location {
        line-height: 23px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    &__title {
        line-height: 104%;
        width: 300px;
        font-size: 41px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__subtitle {
        color: rgb(62, 62, 62);
        font-size: 18px;
        width: 310px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__button {
        width: 200px;
        height: 40px;   
    }
}
.pluses-team {
    &__icon-box {
        margin-right: 5px;
    }

    &__icon {
        @extend %size-icon;
    }

    &__text-box {
        width: 220px;
    }
}
.pluses-cabinet {
    &__icon-box {
        margin-right: 10px;
    }

    &__icon {
        @extend %size-icon;
    }

    &__amount {
        display: block;
        margin-bottom: -2px;
    }

    &__text-box {
        width: 200px;
    }
}
.pluses-location {
    &__icon-box {
        margin-right: 10px;
    }

    &__icon {
        @extend %size-icon;
    }

    &__text-box {
        width: 160px;
    }
}

@media (max-width: 930px) {
    .main-description {
        display: flex;
        background: none;
        flex-direction: column;
        height: 100%;
        margin-bottom: 60px;
        &__info {
            position: relative;
            top: 0;
            left: 0;
        }

        &__pluses {
            position: relative;
        }
    }
    .info-decorate-container {
        width: 100%;
        margin-bottom: 40px;
    }
    .patients-trust__reasons {
        gap: 25px 0;
    }
    .main-description__pluses-team,
    .main-description__pluses-cabinet,
    .main-description__pluses-location {
        backdrop-filter: none;
    }
}

@media (max-width: 800px) {
    .info-conteiner__title {
        font-size: 35px;
    }
    .main-description__pluses {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-description__pluses-team,
    .main-description__pluses-location {
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        height: 100px;
        border: 1px solid rgb(56, 188, 234);
    }
    .main-description__pluses-cabinet {
        justify-content: flex-start;
        width: 100%;
        height: 100px;
        border: 1px solid rgb(56, 188, 234);
    }
    .pluses-cabinet__icon-box {
        margin-left: 3px;
    }
}