* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

#root {
  display: flex;
  justify-content: center;
  margin: 30px 20px 0px 20px;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
}

.primary-button {
  border-radius: 7px;
	background: rgb(56, 188, 234);
	color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}