%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%size-icon {
    width: 40px;
    height: 40px;
}

.footer {
    @extend %flex-element-center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

    &__adaptive-container {
        @extend %flex-element-center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 20px;
        width: 100%;
    }
}
.footer-media-network {
    display: flex;
    justify-content: center;
    align-items: center;
        &__vk-box {
            display: inline-block;
            margin-right: 25px;
            height: 40px;
        }

		&__vk {
            @extend %size-icon;
		}

        &__tg-box {
            display: inline-block;
            margin-right: 25px;
            height: 40px;
        }

		&__tg {
            @extend %size-icon;
		}

        &__email-box {
            display: inline-block;
            height: 40px;
        }

		&__email {
            @extend %size-icon;
		}
}
.footer-license {
    @extend %flex-element-center;
    flex-direction: column;
    max-width: 300px;
}
.footer-personal-info {
    width: 200px;
		&__text {
            text-decoration: underline;
		}
}
.footer-logo-box {
    &__img {
        width: 65px;
        height: 60px;
    }
}

@media (max-width: 950px) {
    .footer__adaptive-container {
        text-align: center;
    }

}

@media (max-width: 850px) {
    .footer__adaptive-container {
        margin: 25px 0;
    }

    .footer {
        flex-direction: column;
    }

    .footer-license {
        &__date {
            margin-bottom: 20px;
        }
    }
}