%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%size-icon {
    width: 20px;
    height: 20px;
}

%icon-box-mr {
	margin-right: 6px;
}

.header {
    @extend %flex-element-center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}
.header-logo-box {
	margin-right: 40px;
}
.header-logo-item {
	width: 57px;
	height: 57px;
}
.header-nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	& li {
		margin-right: 30px;
	}
}

.about-item.active {
	color: rgb(0, 84, 179);
}

.services-item.active {
	color: rgb(0, 84, 179);
}

.specialists-item.active {
	color: rgb(0, 84, 179);
}

.patients-item.active {
	color: rgb(0, 84, 179);
}

.header-connections {
	display: flex;
	margin-right: 25px;
	flex-wrap: wrap;
		&__schedule {
			@extend %flex-element-center;
			margin-right: 20px;
		}

		&__phone {
			@extend %flex-element-center;
		}

		&__adress {
			@extend %flex-element-center;
			margin-right: 20px;
		}
}
.adress-icon-box {
	@extend %icon-box-mr;
}
.adress-icon-item {
	@extend %size-icon;
}
.adress-text {
	width: 170px;
}
.adress-box {
	@extend %flex-element-center;
}
.schedule-icon-box {
	@extend %icon-box-mr;
}
.schedule-icon-item {
	@extend %size-icon;
}
.schedule-text-time {
	@extend %icon-box-mr;
}
.phone-icon-box {
	@extend %icon-box-mr;
}
.phone-icon-item {
	@extend %size-icon;
}
.phone-number {
	font-weight: 700;
}
.phone-box {
	@extend %flex-element-center;
}
.header-button {
	width: 125px;
	height: 45px;
}

@media (max-width: 1056px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.header {
		flex-direction: column;
	}
	.header-logo-box {
		margin-right: 0;
	}

	.header-connections {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
		margin-right: 0;

		&__schedule {
			margin-bottom: 10px;
		}
	}

	.header-nav-list {
		margin-top: 20px;
		margin-bottom: 20px;
		& li {
			margin-right: 20px;
		}

		& li:nth-last-child(1) {
			margin-right: 0;
		}
	}
}

@media (max-width: 399px) {
	.header-logo-box {
		margin-right: 0;
	}

	.header-connections {
		&__schedule {
			margin-right: 0;
		}
	}

	.header-nav-list {
		
		& li:nth-last-child(1) {
			margin-top: 10px;
		}
	}
}