%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%size-icon {
    width: 20px;
    height: 20px;
}

%icon-box-mr {
	margin-right: 6px;
}

.header {
    @extend %flex-element-center;
	width: 100%;
	margin-bottom: 50px;
}
.header-logo-box {
	margin-right: 40px;
}
.header-logo-item {
	width: 57px;
	height: 57px;
}
.header-nav-list {
	display: flex;
		&__item {
			margin-right: 30px;
		}
}

.about.active {
	color: rgb(1, 103, 138);
}

.services.active {
	color: rgb(1, 103, 138);
}

.specialists.active {
	color: rgb(1, 103, 138);
}

.header-connections {
	display: flex;
	margin-right: 25px;
		&__schedule {
			@extend %flex-element-center;
			margin-right: 20px;
		}

		&__phone {
			@extend %flex-element-center;
		}

		&__adress {
			@extend %flex-element-center;
			margin-right: 20px;
		}
}
.adress-icon-box {
	@extend %icon-box-mr;
}
.adress-icon-item {
	@extend %size-icon;
}
.adress-text {
	width: 170px;
}
.adress-box {
	@extend %flex-element-center;
}
.schedule-icon-box {
	@extend %icon-box-mr;
}
.schedule-icon-item {
	@extend %size-icon;
}
.schedule-text-time {
	@extend %icon-box-mr;
}
.schedule-text-days {
	color: rgb(145, 145, 145);
}
.phone-icon-box {
	@extend %icon-box-mr;
}
.phone-icon-item {
	@extend %size-icon;
}
.phone-number {
	font-weight: 700;
}
.phone-box {
	@extend %flex-element-center;
}
.header-button {
	width: 185px;
	height: 45px;
}